PrettyTable<=1.0.1; python_version < '3.6'
prettytable>=2.0,<3.0; python_version >= '3.6'
requests
yattag>=1.0,<2.0
pyserial>2.5
jsonmerge>=1.4.0,<2.0
jsonschema<3.0.0
mbed-ls>=1.5.1,<2.0
semver>=2.0,<3.0
mbed-flasher>=0.10.1,<0.11
six>=1.0,<2.0
pydash>=4.0,<5.0
transitions<1.0